alembic==1.9.2
aniso8601==9.0.1
asgiref==3.5.2
attrs==22.2.0
click==8.0.4
clipboard==0.0.4
colorama==0.4.4
distlib==0.3.4
Django==4.0.5
exceptiongroup==1.1.0
filelock==3.7.1
Flask==2.2.2
Flask-Login==0.6.2
flask-marshmallow==0.14.0
Flask-Migrate==4.0.2
Flask-RESTful==0.3.9
Flask-SQLAlchemy==2.5.1
greenlet==1.1.2
gunicorn==20.1.0
importlib-metadata==4.11.3
iniconfig==2.0.0
itsdangerous==2.1.1
Jinja2==3.0.3
Mako==1.2.4
MarkupSafe==2.1.1
marshmallow==3.15.0
marshmallow-sqlalchemy==0.28.0
packaging==21.3
platformdirs==2.5.2
pluggy==1.0.0
pyparsing==3.0.7
pyperclip==1.8.2
pytest==7.2.0
python-decouple==3.6
pytz==2022.1
six==1.16.0
SQLAlchemy==1.4.35
sqlparse==0.4.2
tomli==2.0.1
tzdata==2022.1
virtualenv==20.15.1
Werkzeug==2.2.2
zipp==3.8.0