{% extends "base.html" %} {% block title %}Sign Up{% endblock %}

{% block content %}
<form method="POST">
    <h3  align="center">Sign Up</h3>
    <div class="form-group">
        <label for="email">Email address:</label>
        <input type="email" class="form-control" placeholder="Enter email" id="email" name="email">
    </div>
    <div class="form-group">
        <label for="firstName">First Name:</label>
        <input type="text" class="form-control" placeholder="Enter first name" id="firstName" name="firstName">
    </div>
    <div class="form-group">
        <label for="password1">password:</label>
        <input type="password" class="form-control" placeholder="Enter password" id="password1" name="password1">
    </div>
    <div class="form-group">
        <label for="password2">password (confirm):</label>
        <input type="password" class="form-control" placeholder="Confirm password" id="password2" name="password2">
    </div>
    <br />
    <button type="submit" class="btn btn-primary">submit</button>

</form>
{% endblock %}